<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" class="display-6 headerSpan" style="color:seashell"><i class="fa-solid fa-magnifying-glass-location"></i> <b style="color:#41f738">Issue</b>Tracker</a>
    <a href="/issueTracker/projectDetails" class="btn btn-light mx-5" style="color: #36454F">Project Details</a>
</header>
